{
  "plugins": [
    "@trivago/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss"
  ],
  "printWidth": 80,
  "jsxSingleQuote": true,
  "semi": true,
  "arrowParens": "always",
  "singleQuote": true,
  "bracketSpacing": true,
  "tabWidth": 2,
  "useTabs": false,
  "trailingComma": "none",
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrder": [
    "@ui/*",
    "@composed/*",
    "@components/*",
    "@utils/*",
    "@lib/*",
    "@hooks/*"
  ]
}
